@page
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model HomeModel
@{
    ViewData["Title"] = "Home";

    HtmlHelpers.RenderHeaderSection(this, Url, commonUIConfigureOptions);
}

<p class="h5 inkhome p-2 bg-success-subtle border border-success-subtle rounded-1">Welcome <span>@Model.Player?.UserName</span></p>

<div class="alert alert-dismissible fade show inkhome" role="alert">
	<span></span>
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container inkhome">
	<div class="row" role="group" aria-label="Game menu">
		<form method='post' class="col-sm-12 col-md-4 order-last order-md-first btn-group-vertical p-1 was-validated">
		</form>
		<div class="col-sm-12 col-md-auto p-1">
			<picture aria-label="home screen image">
				<source type="image/webp" srcset="../img/homescreen.webp" />
				<img src="../img/homescreen.jpg" alt="home screen" aria-label="home screen image" class="img-fluid" />
			</picture>
		</div>
	</div>
</div>

<script type='module'>
	import { HomeOnLoad } from "@Url.Content(Constants.WwwIncludeInkballJS)";

	HomeOnLoad(
		'@Model.Message',
		JSON.parse('@(Model.Game != null ? true : false)'.toLowerCase()),
		'@commonUIConfigureOptions.Value.LogoutPath',
		'@commonUIConfigureOptions.Value.LoginPath',
		'@commonUIConfigureOptions.Value.RegisterPath'
	)
</script>