@page
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model HomeModel
@{
	ViewData["Title"] = "Home";

	DefineSection(commonUIConfigureOptions.Value.HeadElementsSectionName, async () =>
	{
		WriteLiteral($"<link rel='stylesheet' href='{Url.Content("~/css/demo.css")}' />");
	});
}
<ul>
	@foreach(var claim in Model.UserData)
	{
		<li>@claim</li>
	}
</ul>
@Model.InkBallID

<p><strong>Server variables</strong></p>

<p>Request Method: <span class='blue-paragraph'>@HttpContext.Request.Method</span></p>
<p>Request Scheme: <span class='blue-paragraph'>@HttpContext.Request.Scheme</span></p>
<p>Request Path: <span class='blue-paragraph'>@HttpContext.Request.Path</span></p><br />

<strong>Request Headers</strong><br />
@{
	foreach (var header in HttpContext.Request.Headers)
	{
		WriteLiteral($"<p>{header.Key}: <span class='blue-paragraph'>{header.Value}</span></p>");
	}
}

<p>Request RemoteIp: <span class='blue-paragraph'>@HttpContext.Connection.RemoteIpAddress</span></p>

@{
	DefineSection(commonUIConfigureOptions.Value.ScriptsSectionName, async () =>
	{
		WriteLiteral($"<script type='text/javascript' src='{Url.Content("~/js/script.js")}'></script>");
	});
}