@page
@using Microsoft.Extensions.Hosting
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@inject Microsoft.Extensions.Options.IOptions<InkBallOptions> commonUIConfigureOptions
@model IndexModel
@{
    ViewData["Title"] = "Game";

    if (!string.IsNullOrEmpty(commonUIConfigureOptions.Value.HeadElementsSectionName))
    {
        DefineSection(commonUIConfigureOptions.Value.HeadElementsSectionName, async () =>
        {
            WriteLiteral($"<link rel='stylesheet' href='{Url.Content(Constants.WwwIncludeCSS)}' />");
        });
    }


    string P2Name = Model.Game.Player2 != null ? Model.Game.Player2?.User?.UserName : "???";
    string surrender_win_cancel_name;
    bool isThisPlayerActive = Model.Game.IsThisPlayerActive();
    bool useMessagePackBinaryTransport = commonUIConfigureOptions.Value.UseMessagePackBinaryTransport;
    if (Model.Game.Player2 != null)
    {
        if (Model.Game.GetOtherPlayer().IsLastMoveOverdue() && isThisPlayerActive)
        {
            surrender_win_cancel_name = "win";
        }
        else
        {
            surrender_win_cancel_name = "surrender";
        }
    }
    else
    {
        surrender_win_cancel_name = "cancel";
    }
}
<h3 class="inkgame">
    This is Inball Game page
</h3>
<p class="inkgame">
    <!-- Debug State -->
    iGameID=<span id="gameID"></span>
    iPlayerID=<span id="playerID"></span>
    Player=@(Model.Game.IsThisPlayer1() ? "P1" : "P2")
    <span class="whichColor">Play color</span>
</p>
<p class="inkgame">
    @Model.Game.Player1?.User?.UserName vs <span id='Player2Name'>@P2Name</span>
</p>
<div class="container inkgame">
    <form action="Games" method="post" asp-antiforgery="true" class="row">
        <input type='hidden' name='GameID' />
        <div class="col-xs-6 col-sm-auto pl-0">
            <a id='Pause' href='Games' class="btn btn-outline-primary">pause</a>
            <input id='SurrenderButton' type='submit' name='action' value="@surrender_win_cancel_name" class='btn btn-outline-primary' disabled />
        </div>
        <div class="col-xs-6 col-sm-auto pl-0">
            <input id="StopAndDraw" type="button" value="Stop and Draw" class='btn btn-warning' disabled />
            <input id="CancelPath" type="button" value="Cancel path" class='btn btn-primary' disabled />
        </div>
    </form>
    <div id="status" class="row">
        <div class="col-auto px-0">
            <span id="gameStatus">•</span>&nbsp;
            <span id="debug0"></span>&nbsp;
            <span id="debug1"></span>&nbsp;
            <span id="debug2"></span>
        </div>
    </div>
    <div class="row mx-auto">
        <div id="screen" class="col-auto p-0 mb-3 mx-auto">
        </div>
        <div class="col">
            <div class="input-group">
                <input id="messageInput" type="text" class="form-control" placeholder="Message..." aria-label="Message to send" aria-describedby="sendButton"
                       onkeyup="document.querySelector('#sendButton').disabled = this.value == ''" disabled />
                <div class="input-group-append">
                    <input id="sendButton" type="button" value="Send Message" class="btn btn-secondary" disabled />
                </div>
            </div>
            <ul id="messagesList" class="list-group list-group-flush"></ul>
        </div>
    </div>
</div>

<script nomodule src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.10.4/polyfill.min.js" integrity="sha512-pgx+g4+yrNG/DhUEosN7ontsnk2WayfSuK1Fmy2GrqNi8ktUpIlTpKj80dCLyoEELA6c6m5otWP9RM/lq5UTQg==" crossorigin="anonymous"></script>
@{
    if (env.IsDevelopment())
    {
        @:<script src='@Url.Content("~/lib/signalr/dist/browser/signalr.min.js")'></script>
        if (useMessagePackBinaryTransport)
        {
            @:<script src='@Url.Content("~/lib/msgpack5/dist/msgpack5.min.js")'></script>
            @:<script src='@Url.Content("~/lib/signalr-protocol-msgpack/dist/browser/signalr-protocol-msgpack.min.js")'></script>
        }
    }
    else
    {
        @:<script src='https://cdn.jsdelivr.net/npm/@@microsoft/signalr@3.1.5/dist/browser/signalr.min.js' integrity='sha256-si8igieTzuETDYPQKZvNpGAw5a6Xs72ZwnCWC8Z9esI=' crossorigin='anonymous'></script>
        if (useMessagePackBinaryTransport)
        {
            @:<script src='https://cdn.jsdelivr.net/npm/msgpack5@4.2.1/dist/msgpack5.min.js' integrity='sha256-mY/RhkCJfd98j3c5s1EcUDJdRzffTeKzEzFIaI/2KQg=' crossorigin='anonymous'></script>
            @:<script src='https://cdn.jsdelivr.net/npm/@@microsoft/signalr-protocol-msgpack@3.1.5/dist/browser/signalr-protocol-msgpack.min.js' integrity='sha256-Ozvj/246LbN0/yMugNnXVHWFWGJsSQIemINNxFhbAMs=' crossorigin='anonymous'></script>
        }
    }
}
<script type='text/javascript'>
    var gameOptions = {
	    inkBallHubName: '@(commonUIConfigureOptions.Value.AppRootPath + InkBall.Module.Hubs.GameHub.HubName)',
	    iGameID: @Model.Game.iId,
	    iPlayerID: @Model.Player.iId,
	    iOtherPlayerID: parseInt("@Model.Game.GetOtherPlayer()?.iId") || null,
	    boardSize: { width: @Model.Game.iBoardWidth, height: @Model.Game.iBoardHeight },
	    bPlayingWithRed: JSON.parse('@Model.Game.IsThisPlayerPlayingWithRed()'.toLowerCase()),
	    bPlayerActive: JSON.parse('@isThisPlayerActive'.toLowerCase()),
	    gameType: '@Model.Game.GameType',
	    protocol: JSON.parse('@useMessagePackBinaryTransport'.toLowerCase()) ? new signalR.protocols.msgpack.MessagePackHubProtocol() : new signalR.JsonHubProtocol(),
	    servTimeoutMillis: @Model.ClientTimeoutInterval.TotalMilliseconds,
	    isReadonly: JSON.parse('@Model.IsReadonly'.toLowerCase()),
	    pathAfterPointDrawAllowanceSecAmount: @Constants.PathAfterPointDrawAllowanceSecAmount,

	    @if(Model.PlayerPointsAndPaths.Points != null)
	    {
            @:PointsAsJavaScriptArray: @Model.PointsAsJavaScriptArray,
            @:PathsAsJavaScriptArray: @Model.PathsAsJavaScriptArray,
	    }
        else
        {
            @:PlayerPointsAndPaths: null
        }
    };

    //window.gameOptions = gameOptions;
</script>
<script type='module' src='@Url.Content(Constants.WwwIncludeInkballJS)'></script>
<script nomodule type='text/javascript' src='@Url.Content(Constants.WwwIncludeInkballJSBundle)'></script>
